{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/index.css">
    <title>Document</title>
</head> --}}
<body>

<h1 class="header">Select a mode:</h1>
<a href="selection.html" id="strength" class="card">

            <h1>💪</h1>
            <h1>Strength Training</h1>

</a>

<a href="#" id="injury" class="card">
            <h1>🤕</h1>
            <h1>Injury Prevention</h1>
</a>


</body>
{{!-- </html> --}}