<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/selection.css">
    <title>Selection</title>
</head>
<body>
    <div class="container">
        <h1 class="header">Select up to 3 muscle groups:</h1>
        <form action="/">
            <div class="selection" id="s1">
                <input type="checkbox" id="check-1">
                <h3>Hamstrings</h3>
                <h3 class="emoji">🍖</h3>
            </div>

            <div class="selection" id="s2">
                    <input type="checkbox" id="check-2">
                    <h3>Glutes</h3>
                    <h3 class="emoji">🍑</h3>
            </div>
            <div class="selection" id="s3">
                    <input type="checkbox" id="check-3">
                    <h3>Core</h3>
                    <h3 class="emoji">👙</h3>
                    
            </div>
            <div class="selection" id="s4">
                    <input type="checkbox" id="check-4">
                    <h3>Calves</h3>
                    <h3 class="emoji">🐄</h3>
            </div>
            <div class="selection" id="s5">
                    <input type="checkbox" id="check-5">
                    <h3>Hips</h3>
                    <h3 class="emoji">👨‍🎨</h3>
            </div>
            <div class="selection" id="s6">
                    <input type="checkbox" id="check-6">
                    <h3>Quads</h3>
                    <h3 class="emoji">4️⃣</h3>
            </div>
        </form>        
    </div>

</body>
</html>