body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color:#3890d8;
    /* padding: 0; */
    margin: 2px;
}
.content-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "circuit-headers"
    "excercises";
    grid-row-gap: 2px;
    /* margin: 0 10%;
    margin-top: 0; */

}
/* .title {
    grid-area: title;
    background-color: aqua;
}
.info {
    grid-area: info;
    background-color: blueviolet;
} */
.circuit-headers {
    grid-area: circuit-headers;
    background-color: #d5e0e4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    border: 1px solid #7d7f81;
}
.excercise-container {
    grid-area: excercises;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    grid-template-areas: 
    "e1 e5"
    "e2 e6"
    "e3 e7"
    "e4 e8"; 
    /* grid-row-gap: 15px; */
    grid-gap: 1px; 
    background-color: #73037C;
    max-width: 75vw;
    /* max-height: 60vh;  */
    margin: 0 auto;
    padding: 2% 5%;
    border: 1px solid rgb(72, 3, 77);
    border-radius: 1%;



}
.excercise {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* border: 1px solid darkgrey; */
}
.excercise img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
}
/* .left {
    border-left: 1px solid darkgrey;
}
.right {
    border-right: 1px solid darkgrey;
}
.top {
    border-top: 1px solid darkgrey;
}
.bottom {
    border-bottom: 1px solid darkgrey;
} */
.e1 {
    grid-area: e1;
}
.e2 {
    grid-area: e2;
}
.e3 {
    grid-area: e3;
}
.e4 {
    grid-area: e4;
}
.e5 {
    grid-area: e5;
}
.e6 {
    grid-area: e6;
}
.e7 {
    grid-area: e7;
}
.e8 {
    grid-area: e8;
}