body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color:#3890d8;
    margin: 2px;
}
.content-container {
    display: grid;
    grid-template-rows: .075fr 1fr .05fr;
    grid-template-areas: 
    "header"
    "excercises"
    "footer";
    grid-row-gap: 2px;
}
.header {
    grid-area: header;
    background-color: #d5e0e4;
    display: flex;
    justify-content: space-between;
    border: #7d7f81 1px solid;
}

#back {
    margin-left: 10px;
    cursor: pointer;
}
#refresh {
    margin-right: 10px;
    cursor: pointer;
}
.footer {
    grid-area: footer;
    background-color: #d5e0e4;
    display: flex;
    border: #7d7f81 1px solid;
    justify-content: space-around;
    align-items: center;
}
.footer h3 {
    padding-right: 75px;
}
.footer-images {
    align-self: center;
}
.footer-images img {
    width: 25px;
    height: 25px;
    margin-right:5px;
}
.circuit-headers {
    grid-area: circuit-headers;
    background-color: #d5e0e4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    border: 1px solid #7d7f81;
}
.excercise-container {
    grid-area: excercises;
    display: grid;
    grid-template: .15fr repeat(4, 1fr) / repeat(2, 1fr);
    grid-template-areas: 
    "title1 title2"
    "e1 e5"
    "e2 e6"
    "e3 e7"
    "e4 e8"; 
    grid-gap: 1px; 
    background-color: #73037C;
    max-width: 75vw;
    /* max-height: 60vh;  */
    margin: 0 auto;
    padding: 0 5% 2% 5%;
    border: 1px solid rgb(72, 3, 77);
    border-radius: 1%;
}
.excercise {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.excercise img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
}
.title {
    color: #d5e0e4;
    justify-self: center;
    align-self: center;
}
.title1 {
    grid-area: title1;
}
.title2 {
    grid-area: title2;
}
.e1 {
    grid-area: e1;
}
.e2 {
    grid-area: e2;
}
.e3 {
    grid-area: e3;
}
.e4 {
    grid-area: e4;
}
.e5 {
    grid-area: e5;
}
.e6 {
    grid-area: e6;
}
.e7 {
    grid-area: e7;
}
.e8 {
    grid-area: e8;
}